/* Regole generali */
*{
  margin: 0;
  padding: 0;
}

.container{
  min-width: 90%;
  max-width: 95%;
  padding: 0;
}

/* Svrascrittura regole Bootstrap */

header .nav-sup .btn-nav{
  padding: 0 5px;
  font-size: 1rem;
}

header .nav-sup {
  margin-right: -40px;
}



/* Regole Specifiche per Header */
header .row{

}
/* Section 0 */
#section_0{
  /* font-size: 62px; */
  background-image: url("bg-home-1-d54581d7.jpg");
  padding: 10% 0;
}

#section_0 form{
  margin: 0 auto;
  background-color: white;
  min-width: 80%;
}
