/* Regole generali */
*{
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4{
  margin-bottom: 3%;
  font-weight: bold;
}

body{
  line-height: 1.5;
}

.container{
  min-width: 80%;
  max-width: 95%;
  padding: 0;
  margin: 0 auto;
}
.container-small{
  max-width: 900px;
  margin: 0 auto;
}


li{
  list-style: none;
}

/* Svrascrittura regole Bootstrap */

header .nav-sup .btn-nav{
  padding: 0 5px;
  font-size: 1rem;
}

header .nav-sup {
  margin-right: -40px;
}



/* Regole Specifiche per Header */
header .row{

}
/* Section 0 */
#section_0{
  /* font-size: 62px; */
  background-image: url("bg-home-1-d54581d7.jpg");
  padding: 10%;
  color: white;
}



#section_0 form{
  margin: 0 auto;
  background-color: white;
  color: black;
}

.form{
  background-color: white;
  color: black;
  padding: 10%;
  border-radius: 5px;
}

#section_0 form a{
  display: block;
  text-align: center;
  padding: 2% 0;
  border-radius: 10px;
}

.google-btn{
  box-shadow: 5px 10px 8px #888888;
}

.green-btn{
  width: 100%;
  background: #0CB863;
}

/* Section 1 */
#section_1{
  background: #F3F5F9;
}

/* #section_1 .row{
  padding-top: 5px;
  padding-bottom: 5px;
} */

#section_1 .logo-list li {
  float: left;


}

#section_1 .logo-list img {
  max-width: 60%;
  height: auto;
}


/* Section 2 */

#section_2 li{
  padding: 2%;
}



/* Section_3 */
#section_3 img,
#section_6 img{
 max-width: 80%;
 height: auto;
}


/* Section 5 */
#section_5 table{
  color: grey;
  width: 100%;

}
#section_5 [class*="col-md-"]{

}





#section_5{

  background-color: #031B4E;
  color: white;
  padding: 5% 0;
  }

#section_5 table span{
  text-transform: uppercase;
  font-weight: bold;
  color: white;
  }

#section_5 table tr{
  border-bottom: 1px solid grey;
}

/* Section 6 */
#section_6,
#section_3{
  background-color: #F3F5F9;
}



/* Section 7 */
#section_7{
  background-image: url("bg-home-1-d54581d7.jpg");
  padding: 5% 0;
  color: white;
}

#section_7 a{
  background-color: white;
  color: #0147FE;
  font-weight: bold;
  padding: 1% 2%;
  border-radius: 5px;
}

#section_7 a:hover{
  background-color: lightgrey;
  text-decoration: none;
}


/* Footer */
footer{
  background-color: #010E28;
  color: gray;
  padding-top: 5%;
}

footer .social-footer li{
  float: left;
  padding-right: 2%;
}

footer a{
   color: gray;
 }

 footer a:hover{
    color: white;
    text-decoration: none;
  }

 footer .collegamenti ul span{
   color: white;
   font-weight: bold;
   margin-bottom: 20px;
 }

 /* Classi ausiliarie */
 .mr-r{
   margin-right: 5%;
 }
